<!DOCTYPE html>
<html>

<head>
  <title><%= messageNotificationsLength > 0 ? "(" + messageNotificationsLength + ") " : "" %> <%= config.siteName %> - Game <%= game.gameId %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/chessboardjs/css/chessboard-0.3.0.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>
  <script src="/chessboardjs/js/chessboard-0.3.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/scripts.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/"><%= config.siteName %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages">Messages 
            <span id="messages" class="badge badge-light <%= messageNotificationsLength > 0 ? '' : 'd-none' %>"><%= messageNotificationsLength %></span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/games">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clubs">Chess Clubs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if (user.isAdmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Console</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/profile/<%= user.name %>">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="board"></div>

  <div id="chat">
    <div id="chatMessages" class="p-3">
    </div>

    <div class="input-group mt-3">
      <input type="text" id="chatBox" class="form-control" placeholder="Type a message as <%=user.name%>" onkeyup="inputKeyUp(event)">
      <div class="input-group-append">
        <span class="input-group-text" onClick="sendMessage()"><i class="fa fa-paper-plane"></i></span>
      </div>
    </div>

  </div>

  <hr>

  <div class="text-center d-flex justify-content-around flex-wrap">
    <div class="m-2">
      <a href="/profile/<%= white.name %>"><div class="profile-img white-profile m-auto z-depth-1" title="<%= white.name %>" style="background-image: url('<%= white.profile.picture %>')"></div></a>
      <h4><a href="/profile/<%= white.name %>"><%= white.name %></a></h4> <h5>Time remaining: <p id="wTime" class="<%= game[game.currentTurn] == white.name ? 'font-weight-bold' : '' %> mt-1"><%= game.wTime %></p></h5>
    </div>
    <div class="m-2">
      <div class="profile-img black-profile m-auto z-depth-1" title="<%= black.name %>" style="background-image: url('<%= black.profile.picture %>')"></div>
      <h4><a href="/profile/<%= black.name %>"><%= black.name %></a></h4> <h5>Time remaining: <p id="bTime" class="<%= game[game.currentTurn] == black.name ? 'font-weight-bold' : '' %> mt-1"><%= game.bTime %></p></h5>
    </div>
  </div>

  <p class="text-center m-2">Status: <span id="status"></span></p>
  <p class="text-center m-2">FEN: <span id="fen"></span></p>

  <div class="m-3 d-flex justify-content-center">
    <% let event = "" %>
    <% let convertedEvent = "" %>

    <% if (game.drawRequested && game.drawRequestedBy == user.name) { %>
        <% event = "revokeDraw" %>
        <% convertedEvent = "Revoke Draw" %>
      <% } else if (game.drawRequested && game.drawRequested !== user.name) { %>
        <% event = "acceptDraw" %>
        <% convertedEvent = "Accept Draw" %>
      <% } else { %>
        <% event = "requestDraw" %>
        <% convertedEvent = "Offer Draw" %>
      <% } %>

    <button class="btn btn-primary m-2" id="resign" onClick="gameEvent('resign')"><i class="fas fa-flag mr-1"></i> Resign</button>
    <button class="btn btn-primary m-2" id="draw" onClick="gameEvent('<%= event %>')"><i class="fas fa-handshake mr-1"></i> <span id="drawText"><%= convertedEvent %></span></button>
    <% if (!game.isOver && game.drawRequested && game.drawRequestedBy !== user.name) { %>
      <button class="btn btn-primary m-2" id="declineDraw" onClick="gameEvent('revokeDraw')"><i class="fas fa-handshake mr-1"></i> Decline Draw</button>
    <% } %>
  </div>
</body>

<script>
  var board,
  game = new Chess(),
  socket = io.connect(window.location.host),
  statusEl = $('#status'),
  fenEl = $('#fen'),
  gameObj = <%-JSON.stringify(game)%>,
  interval,
  user = <%-JSON.stringify(user.name)%>;

  function inputKeyUp(e) {
    if (e.key === 'Enter') {
      sendMessage();
    }
  }

  sendMessage = () => {
    if (document.getElementById("chatBox").value !== "") {
      axios.post('/api/gameChat', {
        message: document.getElementById("chatBox").value.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'),
        id: gameObj.gameId
      })
      .then(function (response) {
        socket.emit("chat", {
          message: document.getElementById("chatBox").value.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'),
          user: user,
          gameId: gameObj.gameId
        });

        document.getElementById("chatBox").value = "";
      })
      .catch(function (error) {
        console.log(error);
      });  
    }
  }
 
  var onDragStart = function (source, piece, position, orientation) {
    if (game.game_over() === true ||
      (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
      (game.turn() === 'b' && piece.search(/^w/) !== -1) ||
      gameObj[game.turn()] !== user ||
      gameObj.isOver)  {
      return false;
    }
  };

  var onDrop = function (source, target) {
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q' // NOTE: always promote to a queen for example simplicity
    });

    if (move === null) {
      return 'snapback';
    } else {
      axios.post('/api/gameMove', {
        fen: game.fen(),
        currentTurn: game.turn(),
        gameId: gameObj.gameId
      })
      .then(function (response) {
        socket.emit("move", {
          fen: game.fen(),
          turn: game.turn(),
          gameId: gameObj.gameId
        });
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  };

  var updateStatus = function () {
    let status = '';

    if (!gameObj.isOver) {
      setCountdown(game.turn());
    } else {
      $("#chatBox").prop('disabled', true);
      $("#resign").addClass("d-none");
      $("#draw").addClass("d-none");
    }

    if (game.in_checkmate()) {
      status = 'Game over, ' +  (gameObj[game.turn()] !== user ? gameObj[game.turn()] + ' is in checkmate.' : "you are in checkmate");
    } else if (game.in_draw()) {
      status = 'Game over, drawn position';
    } else if (gameObj.isOver) {
      status = 'Game over, winner is ' + gameObj.winner;
    } else {
      status = gameObj[game.turn()] !== user ? gameObj[game.turn()] + "'s turn. " : "Your turn. ";

      if (game.in_check()) {
        status += (gameObj[game.turn()] !== user ? gameObj[game.turn()] + ' is in check.' : "You are in check");
      }
    }

    statusEl.html(status);
    fenEl.html(game.fen());
  };

  var cfg = {
    draggable: true,
    position: gameObj.fen,
    onDragStart: onDragStart,
    onDrop: onDrop,
  };

  board = ChessBoard('board', cfg);
  game.load(gameObj.fen);

  if (gameObj.b == user) {
    board.orientation("black");
  }

  let messages = gameObj.messages

  for (var i = messages.length - 1; i >= 0; i--) {
    document.getElementById("chatMessages").innerHTML += "<p class='text-center'><b class='font-weight-bold'>" + messages[i].user + ": </b>" + messages[i].message + "</p>";
  }

  socket.on("move", (data) => {
    if (data.gameId == gameObj.gameId) {
      game.load(data.fen);
      board.position(data.fen);
      clearInterval(interval);

      switch(game.turn()) {
        case "w":
          $("#bTime").removeClass("font-weight-bold");
          $("#wTime").addClass("font-weight-bold");
          break;
        case "b":
          $("#wTime").removeClass("font-weight-bold");
          $("#bTime").addClass("font-weight-bold");
          break;
      }

      if (game.in_checkmate()) {
        gameEvent("checkmate");
      } else if (game.in_draw()) {
        gameEvent("draw");
      }
  
      updateStatus();
    }
  });

  socket.on("chat", (data) => {
    if (data.gameId == gameObj.gameId) {
      document.getElementById("chatMessages").insertAdjacentHTML("afterbegin", "<p class='text-center'><b class='font-weight-bold'>" + data.user + ": </b>" + data.message + "</p>");
    }
  });

  socket.on("message", (data) => {
    handleMessage(data, user);
  });

  let bTime = Number(<%- JSON.stringify(game["b" + "Time"]) %>);
  let wTime = Number(<%- JSON.stringify(game["w" + "Time"]) %>);

  setCountdown = (turn) => {
    interval = setInterval(() => {
      let timeVar;

      switch(turn) {
        case "w":
          timeVar = wTime;
          wTime -= 1000;
          break;
        case "b":
          timeVar = bTime;
          bTime -= 1000;
          break;
      }

      formatTime(turn, timeVar);
    }, 1000);
  }

  formatTime = (turn, timeVar) => {
    let distance = (timeVar + Date.now()) - Date.now();

    let days = Math.floor(distance / (1000 * 60 * 60 * 24));
    let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

    document.getElementById(turn + "Time").innerHTML = (days > 0 ? days + " Days " : "") + (hours > 0 ? hours + " Hours " : "") + minutes + " Minutes ";
  }

  formatTime("w", wTime);
  formatTime("b", bTime);

  gameEvent = (event) => {
    if (event == "resign" || event == "draw") {
      swal({
        title: "Are you sure?",
        text: "Are you sure you want to " + event == "resign" ? "resign from the game?" : "Accept the draw?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((isTrue) => {
        if (isTrue) {
          submitGameEvent(event)
        }
      });
    } else {
      submitGameEvent(event);
    }
  }

  submitGameEvent = (event) => {
    axios.post('/api/gameEvent', {
      event: event,
      id: gameObj.gameId
    })
    .then(function (response) {
      if (event == "resign" || event == "checkmate" || event == "acceptDraw" ) {
        window.location = window.location;
      } else if (event == "requestDraw") {
        document.getElementById("drawText").innerHTML = "Revoke Draw";
        $("#draw").attr('onClick', 'gameEvent("revokeDraw")');
      } else if (event == "revokeDraw") {
        document.getElementById("drawText").innerHTML = "Offer Draw";
        $("#draw").attr('onClick', 'gameEvent("requestDraw")');

        if (document.getElementById("declineDraw")) {
          $("#declineDraw").addClass("d-none");
        }
      }
    })
    .catch(function (error) {
      console.log(error);
    });
  }

  updateStatus();
</script>

</html>